:focus {
  outline: none;
}

a {
  color: #149BCC;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

body {
  background: $background;
  overflow: hidden;
  font-family: Raleway;
}

#video-container {
  display: none;
}

.abs-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.abs-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.abs-bottom-right {
  @extend .abs-bottom;
  right: 20px;
  left: auto;
}

.rounded {
  border-radius: 5px;
}

.big-input {
  width: 50%;
  height: 50px;
  border: 0;
  padding: 10px;
  font: 16px Raleway;
}

#loading {
  display: none;
  width: 200px;
  height: 200px;
  z-index: 20000;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #background;
  }
}

footer {
  color: #555;

  p {
    text-align: center;
  }
}

#stats {
  display: none;
  background: #111;
  border-radius: 8px;
  margin-bottom: 9px;
}

.stat-item {
  display: inline-block;
  width: 80px;
  margin: 0;
  padding: 5px 0;
}

.vjs-control-bar {
  z-index: 100;
}

.appear {
  transition: 2s;
  animation-duration: 5s;
  animation-name: appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
